*{
   padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 800px;
    background: grey;
    margin: 0 auto;
  
}
#header{
    width: 100%;
    height: 200px;
    background-color: rgba(26, 72, 236, 0.578);
}
#header h2{
    color: aliceblue;
    text-align: center;
    padding-top: 60px;
    font-size: 60px;
}
#navigasi{
    width: 100%;
    background-color: aqua;

}
#navigasi ul li{
  padding:20px;
  display:inline-block;
  color: white
}
#Artikel {
    width: 500px;
    padding: 20px;
    background-color: aquamarine;
    float: left;
}
#Sidebar{
    width: 300px;
    padding: 20px;
    background-color: rgb(119, 244, 230);
    float: right;
    height: 184px;
}
.clear{
    clear: both;
}
#footer{
    background: wheat;
    padding: 20px;
    text-align: center;
    
}


